.CountdownTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.CountdownTimer input {
  width: 5rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.CountdownTimer button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  cursor: pointer;
}

.CountdownTimer button:hover {
  background-color: #005ea6;
}
